{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title>HeroWiki</title>
</head>
<body>
    <nav>
        <div class='logo'>
            <a href="index"><h2>HEROWIKI</p></a>
        </div>
        <div class="links">
            <a href="herois">Herois</a>
            <a href="detalhes.html">Universos</a>
        </div>
    </nav>
    <div class="gradient">
        <header>
            <h1>HEROWIKI</h1>
        </header>
    </div>
   
       

</body>
</html>