{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'lista.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
    <title>Document</title>
</head>
<body>
    <nav>
            <div class='logo'>
                <h2>HEROWIKI</p>
            </div>
            <div class="links">
                <a href="herois">Herois</a>
                <a href="detalhes.html">wiki Herois</a>
                <a href="detalhes.html">Universos</a>
            </div>
        </nav>

        <section>
            {% if herois %}
            {%for heroi in herois %}
                <p>{{heroi.nome}}</p>
                <p> {{heroi.categoria_heroi}}</p>
                <p> {{heroi.universo_heroi}}</p>
            {% endfor %}
            {% endif %}
            
        </section>
</body>
</html>